<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-2">
              <form action="login" class="loginForm">
                <table>
                  <tr>
                    <td>Login:</td>
                    <td><input id="login" name="login"></td>
                  </tr>
                  <tr>
                    <td>Password:</td>
                    <td><input id="password" name="password"></td>
                  </tr>
                  <tr>
                    <td colspan="2"><button type="button" (click)="login()" class="blue-button">Login</button></td>
                  </tr>
                </table>
              </form>
            </div>
          </div>
        </header>
      </section>
    </div>
  </div>
</div>